
.service-details-heading{
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    font-weight:bolder;
    text-shadow: 2px 0 #013260;
    letter-spacing:2px;
    color: #013260;
    position: relative;
  
}
.service-details-heading::before{
    content: '';
    display: inline-block;
    width: 30px;
    position: absolute;
    bottom: -10px;
    left:48%;
    height: 3px;
    background-color: rgb(2, 2, 155);
 }

.service-details-heading2{
  
    font-size: 30px;
   
    text-shadow: 1px 0 #013260;
    letter-spacing:2px;
    color: #687f96;
}