.price-section{
    border-radius: 0% 100% 0% 100% / 55% 0% 100% 45% ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    background: linear-gradient(100deg, #2816b4e3 , #15d5f7 );
}
.price-btn{
  background: linear-gradient(100deg, #1E0F8C , #15d5f7 );
}
.price-container{
  transition: 0.3s;
  box-shadow: 1px 1px 25px -11px rgba(0,0,0,0.4);
}
.price-container:hover{
    box-shadow: 1px 1px 22px -10px grey;
    transform: scale(1.05);
}